# WordPress
wp-config.php
wp-content/uploads/
wp-content/cache/
wp-content/upgrade/
wp-content/backups/
*.log
.htaccess

# Dependencies
/node_modules
/vendor

# System
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Build Artifacts
/dist
/build
*.zip
