body.body_dark {
  --brand_color: var(--brand_color_dark, #0866ff) !important;
  --bs-white: #1d2027 !important;

  .sec_pad {
    background: transparent !important;
  }

  .body_wrapper.sbnr-gradient {
    .navbar:not(.navbar_fixed) .first-nav-item > a,
    .mobile_main_menu:not(.navbar_fixed),
    .doc_banner_area :is(h1, p, span, li a) {
      --p_color: #425466 !important;
      --black_900: #0c0d0e !important;
      --black_800: #242729 !important;
      --black_700: #3c4146 !important;
      --black_50: #ebebeb !important;
      --black_25: #f9f9f9 !important;
    }
  }

  --white_op20: rgba(0, 0, 0, 0.5);
  --p_color: #c3c3c3 !important;
  --black_900: #f1f1f1 !important;
  --black_800: #e9e9e9 !important;
  --black_700: #e1e1e1 !important;
  --black_600: #bebebe !important;
  --black_500: #b9b9b9 !important;
  --black_400: #a2a2a2 !important;
  --black_200: #757474 !important;
  --black_150: rgba(255, 255, 255, 0.3) !important;
  --black_50: #3b3b3b !important;
  --black_25: #252525 !important;
  --border_on_highlight: #393e4b !important;
  --border_on_white: #2c303a !important;
  --body_bg: #131417 !important;
  color: #c3c3c3 !important;

  .mobile_logo {
    img {
      display: none;

      &.logo-light {
        display: block;
      }
    }
  }

  code {
    color: #ff77bb;
  }

  .error_search .form-control {
    border: 1px solid var(--brand_color);
    background-color: #2c303a;
  }

  .body_wrapper, .doc_documentation_area, .doc_features_area, .blog_top_post, .video_slider_area,
  .header_tab_items .nav.nav-tabs li a.active, .bg_color_gradient, .product .woocommerce-tabs ul.tabs li.active,
  .woocommerce-cart.bg_color, textarea#comment, .floating-label, .blog_comment_box .get_quote_form .form-group .form-control {
    background: #131417 !important;
  }

  .product .woocommerce-tabs ul.tabs li.active {
    border-bottom-color: #131417;
  }

  .info-tab .icon-wrapper::after {
    border-bottom-color: #131417;
    border-left-color: #131417;
  }

  .doc_features_area .doc_features_shap {
    display: none;
  }

  .f_bg_color {
    background: #1f3341;
  }

  .best-answer {
    background: #f1fdf31a;
  }

  .search-banner-light .header_search_form .header_search_form_info .form-group .input-wrapper input {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .60), 0 1px 3px 1px rgba(0, 0, 0, .30)
  }

  .doc_faq_info .card .card-header h2 button,
  .bbp-login-form legend, #new-post legend, .bbp-logged-in h4 a, .search-result-item .doc-item a,
  .topics-filter .nav-item .nav-link.active, .topics-filter .nav-item .nav-link:hover, .learn_btn, .question-icon,
  .question_list .ques_item h4, .bbp-login-form label, #new-post label,
  .navbar_fixed.menu_one .search-icon, .search-result-item .doc-article:hover a,
  .cheatsheet_accordian .card .card-header button, .forum_l_inner .forum_head .left li, .pagination_inner .go_btn input, .text_btn.dark_btn, .topic-heading, .video_list h3 {
    color: #fff;
  }

  .menu_one.dark_menu + .mobile_main_menu .hamburger span, .menu_one.dark_menu .hamburger span, .menu_one.dark_menu .hamburger span {
    background: #fff;
  }

  .documentation_tab .nav-item .nav-link, .card,
  .doc_community_item p, .video_list .video_list_inner .card .card-body .nav li a .media .media-body h4,
  #bbpress-forums fieldset.bbp-form input[type=text], #bbpress-forums fieldset.bbp-form select, .wp-block-archives select,
  .wp-block-categories select, .widget select, #new-post select, &.search .search-post-item .breadcrumb .breadcrumb-item a,
  .categorie_list li a {
    color: var(--black_100);
  }

  .menu > .nav-item.submenu .dropdown-menu .nav-item.has-menu-description:hover {
    background: hsla(0,0%,100%,.05);
  }

  #favorite-toggle .favorite-toggle:hover {
    background: rgb(60, 64, 67);
    color: #fff;
  }

  .doc_faq_info .card .card-header h2 button.collapsed {
    color: var(--black_400);
  }

  .forum_footer_area, .doc_footer_top:not(.has_bg_color) {
    background: #010101;
  }

  .freelancing_list, .asking_area {
    background: var(--black_800);
  }

  .doc_left_sidebarlist::after,
  .doc_left_sidebarlist:not(.one-page-docs-sidebar-wrap)::before,
  #bbpress-forums li.bbp-header, #bbpress-forums li.bbp-footer, #bbpress-forums li.bbp-header,
  .fact_navigation_info, .doc_faq_info .card {
    background: #1e1f26;
  }

  .h_item, .question_menu .topic_list_item, .asking_area .asking_item, .status_area .status_inner,
  .r_heading, .l_tags_wd .nav li a, .page-link, .forum_l_inner .forum_head, .answer-action, .changelog_info .line, .doc_features_inner,
  .recommended_item, .categories_guide_item, .bg_color, .blog_grid_post, .comments_widget li .text,
  .doc_community_item, .nav-tabs .nav-item.show .nav-link, .art-video-player .art-bottom,
  #bbpress-forums div.bbp-forum-header, #bbpress-forums div.bbp-reply-header, #bbpress-forums div.bbp-topic-header,
  #docy-search-result, #docy-search-result::before, .pagination-wrapper,
  .topic-info, .search-main, .blog_area .left_sidebarlist .nav-sidebar:before,
  #bbpress-forums div.even, #bbpress-forums ul.even, .contact_form .form-group .form-control,
  #bbpress-forums fieldset.bbp-form input[type=text], #bbpress-forums fieldset.bbp-form select, .wp-block-archives select,
  .wp-block-categories select, .widget select, #new-post select,
  .question_list .ques_item:nth-child(even), .forums-box,
  .woocommerce-account .woocommerce-MyAccount-navigation,
  #bbpress-forums fieldset.bbp-form input[type=text], .bbp-login-form input[type=text], .bbp-login-form input[type=password],
  #new-post .bbp-the-content-wrapper textarea, #new-post input[type=text],
  .ab_wd .nice_select, .sbnr-aesthetic_three, .blog_post_author, .w_tag_list li a {
    background: var(--bs-white) !important;
  }

  .search-result-item .doc-item a, .search-result-item .doc-section, &.search .searchbar-tabs,
  #docy-search-result::before, #docy-search-result, #bbpress-forums fieldset.bbp-form, .wp-editor-container,
  #bbpress-forums li.bbp-footer, #bbpress-forums li.bbp-header,
  .contact_form .form-group .form-control, .contact_form .form-group textarea, .topic_list_item,
  #bbpress-forums div.bbp-forum-header, #bbpress-forums div.bbp-reply-header, #bbpress-forums div.bbp-topic-header, .wp-block-archives select,
  .wp-block-categories select, .widget select, #bbpress-forums #new-post > fieldset.bbp-form, .main-post, .all-answers, .bbp-reply-form, .search-main, #comments, .blog_comment_box,
  .bbp-login-form input[type=text], .bbp-login-form input[type=password],
  #new-post .bbp-the-content-wrapper textarea, #new-post input[type=text],
  .post-header, .community-post.style-two:not(:last-child) {
    border-color: rgba(255, 255, 255, 0.10);
  }

  .mobile_main_menu.navbar_fixed, .navbar_fixed.menu_one {
    background: #171544;
    box-shadow: 0 0 15px 0 #000;
  }

  .community-post.style-two:hover, .search-banner-light .input-wrapper input {
    background: #252830;
    color: #e1e1e1;
  }

  .pagination_inner .go_btn input,
  .search_form .form-control, .ab_wd .nice_select {
    background: #5a5f73;
    border-color: #2c303a;
  }

  .widget_display_topics li, .widget_display_replies li, .blog_grid_inner {
    border-color: rgba(255, 255, 255, 0.2);
    color: #f5f5f5 !important;
  }

  .bb-radius, .community-post.style-two:hover, .doc_footer_bottom, .ticket_categories li:not(:last-child),
  .single_list, .comments_widget li .text, .question_menu .topic_list_item, .footer_copyright,
  .fact_navigation .nav-item + li, .documentation_tab, div.bbp-forum-header, div.bbp-reply-header, div.bbp-topic-header,
  #bbpress-forums ul.bbp-forums, #bbpress-forums ul.bbp-lead-topic, #bbpress-forums ul.bbp-replies, #bbpress-forums ul.bbp-search-results,
  #bbpress-forums ul.bbp-topics, .pagination_inner .go_btn .input-group-append button, .forum_l_inner .forum_head,
  .r_heading, .user_list_wd, .comment_list .navbar-nav li, .question_list_wd, .forum_l_inner, .forum_body .topic_list li {
    border-color: #2c303a;
  }

  .nice-select .list {
    background: #2c303a !important;
    color: #e1e1e1 !important;
  }

  .nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
    background: var(--black_750);
  }

  .header_search_form_info .custom-select ul li:hover, .header_search_form_info .custom-select ul li.selected {
    color: var(--black_500);
  }

  .header_search_form .custom-select li {
    color: var(--black_800);
  }

  .ab_wd .nice_select span {
    color: var(--black_150);
  }

  .search_form button {
    color: #8f94a6;
  }

  .body_wrapper:not(.sbnr-gradient) {
    .doc_community_area .shap_one,
    .header_logo img.sticky_logo,
    .first_logo {
      display: none;
    }

    .white_logo {
      display: block !important;
    }
  }

  .navbar_fixed .header_logo {
    .sticky_logo {
      display: none;
    }

    .white_logo {
      display: block !important;
    }
  }

  /** === Sticky Menu Navbar === **/
  .topic-contents {
    .user-info h3 a {
      color: #fff !important;
    }
  }

  .topic-heading {
    .icon-text {
      color: #fff !important;
    }

    svg, path {
      fill: #fff;
    }
  }

  .home-forum-posts {
    .elementor-post__card {
      border: 1px solid #3b3b3b;

      .elementor-post__meta-data {
        border-top-color: #3b3b3b;
      }
    }
  }

  blockquote:before {
    opacity: 0.1;
  }

  blockquote:after {
    opacity: 0.1;
  }

  .alert-success i, .alert-success h5 {
    color: #0a8d20;
  }

  .alert-danger {
    color: #631a21;
  }

  .alert-danger i, .alert-danger h5 {
    color: #af202a;
  }

  .alert-info .media-body {
    color: #50afff;
  }

  .elementor-2804 .elementor-element.elementor-element-64b35ee .explanation {
    color: #656565;
  }

  .block-notice-wrapper .block-notice-icon i {
    color: #000;
  }

  .doc-post-content {
    .editor-content {
      p {
        span:not(.changelog_content span) {
          color: var(--p_color) !important;
        }
      }
    }
  }

  .question_menu.docs3 .nav li a:not(.active) {
    color: #c3c3c3;
  }

  #docy-search-result {
    a {
      &.view-more-btn {
        color:var(--black_100)
    }
  }
  }

  .sbnr-aesthetic {
    .banner_search_form{
      .form-control {
        color: var(--black_100);
        background: var(--bs-white) !important;
      }
    }
  }
  #search-preloader {
    background-color: var(--bs-white) !important;
  }
}