.forum-single-content {
  .content, .comment-content {
    img {
      max-width: 100%;
      height: auto;
      border: 1px solid #eaeeef;
    }
  }
}

.forum-post-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  img {
    border-radius: 50%;
    margin-right: 15px;
    max-width: 40px;
    height: auto;
  }

  .forum-post-author {
    .bbp-author-link {
      font-size: 14px;
      font-weight: 500;
      color: var(--black_700);
      line-height: 1.4;
      &:hover {
        color: var(--brand_color);
      }
    }

    .bbp-author-name {
      font-size: 14px;
      font-weight: 500;
      color: var(--black_700);
      line-height: 1.4;
    }

    .forum-author-meta {
      display: flex;
      align-items: center;
      a:hover {
        color: var(--brand_color);
      }
      .author-badge {
        svg {
          margin-top: -5px;
          margin-right: 5px;
        }
        i {
          margin-right: 5px;
          color: #838793;
        }
        &:first-child {
          margin-right: 20px;
          margin-top: -2px;
        }
      }
    }
  }
}

.author-badge.badge {
  text-transform: uppercase;
  font-weight: 400;
  margin-left: 3px;
  img {
    margin-right: 2px;
    margin-top: -2px;
    width: 14px;
  }
  &.participant img {
    width: 10px;
  }
}

.action-button-container {
  display: flex;
  justify-content: flex-end;
  &.action-btns {
    justify-content: flex-start;
    margin-top: 20px;
    .action_btn {
      height: 30px;
      font-size: 14px;
      line-height: 30px;
      padding: 0 15px;
      font-weight: 400;
    }
  }
  .ask-btn {
    box-shadow: none;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 28px;
    margin-top: 2px;
    &:hover {
      background: #16c9f0;
    }
  }
  .reply-btn {
    margin-right: 10px;
  }

  .too-btn {
    background: #fff;
    border: 1px solid #d0d8dc;
    color: var(--secondary_color);
    &:hover {
      background: #fff;
      border: 1px solid var(--secondary_color);
      color: var(--secondary_color);
    }
  }
}

.q-title {
  display: flex;
  padding: 10px 15px 10px 0;
  align-items: baseline;
  h1 {
    font-size: 34px;
    line-height: 1.3;
    flex: 1;
  }
  .badge {
    margin-left: 10px;
    line-height: 1.4;
    margin-top: 5px;
  }
}

.forum-post-content {
  padding-left: 55px;
  .content {
    @include link_style;
  }
  ul li, ol li {
    margin-bottom: 10px;
  }
  .forum-post-btm {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border_on_white);
    padding-bottom: 20px;
    padding-top: 30px;
    .taxonomy {
      font-size: 14px;
      display: flex;
      align-items: center;
      i, img {
        margin-right: 10px;
      }
      img {
        max-width: 20px;
        max-height: 20px;
        margin-right: 10px !important;
      }
    }
  }
}

.question-icon {
  color: var(--secondary_color);
  margin-right: 10px;
  font-weight: 600;
  font-size: 46px;
  margin-left: -2px;
}

#subscription-toggle {
  a {
    font-size: 16px;
    padding: 10px 30px;
    margin-top: 2px;
    color: var(--bs-white);
    border-radius: 30px;
    background: var(--black_700);
    display: inline-block;
    text-decoration: none !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.18s ease-in-out;
    &:hover {
      background: var(--black_900);
    }
    &.is-subscribed {
      font-size: 16px;
      font-weight: 500;
      padding: 10px 28px;
      margin-top: 2px;
      color: #606060;
      border-radius: 30px;
      background: #e0e0e0;
      display: inline-block;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.18s ease-in-out;
    }
  }
  .is-subscribed a.subscription-toggle {
    background: rgba(0, 0, 0, 0.05);
    color: var(--black_700);
    &:hover {
      background-color: var(--black_50);
    }
  }
}


/** === Topic/Reply Admin Links === **/
.forum-comment {
  .action-button-container.action-btns .bbp-topic-reply-link {
    height: 26px;
    font-size: 12px;
    line-height: 26px;
  }
  .bbp-author-link {
    padding-top: 2px;
  }
}

.answer-action .action-content .ans-title {
  margin-bottom: 5px;
}

.action-button-container.action-btns {
  .bbp-admin-links {
    margin-bottom: 0;
    flex-wrap: wrap;
    width: 83%;
    li {
      padding-right: 14px;
      margin-bottom: 0;
      &:hover a::before {
        width: 100%;
      }
      a {
        position: relative;
        color: var(--brand_color);
        font-size: 14px;
        font-weight: 500;
        &::before {
          content: "";
          width: 0;
          height: 2px;
          position: absolute;
          left: 0;
          bottom: -2px;
          background: var(--brand_color);
          transition: width 0.2s linear;
        }
      }
    }
  }
}

.comment-content .bbp-admin-links {
  background: var(--black_25);
  padding: 6px 10px 6px 10px;
  border-radius: 5px;
  margin-top: 10px !important;
  margin-bottom: 0;
  li {
    padding: 0 10px;
    transition: background-color .3s;
    &:first-child {
      margin-left: 10px;
    }
    &:hover {
      background-color: #fff;
      border-radius: 3px;
    }
    a {
      color: var(--brand_color);
      font-size: 14px;
    }
  }
}

#favorite-toggle .favorite-toggle {
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  padding: 6px 20px;
  font-weight: 400;
  border-radius: 4px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.18s ease-in-out;
  background: #fff;
  border: 1px solid #d0d8dc;
  color: var(--secondary_color);
}

span#favorite-toggle {
  margin-top: 2px;
}

#favorite-toggle .favorite-toggle:hover {
  background: rgba(60, 64, 67, .04);
}

/** === Best Answer === **/
.best-answer {
  background: #f1fdf3;
  padding: 30px 25px;
  margin-top: 60px;
  border-radius: 6px;
  .accepted-ans-mark {
    color: #0abe76;
    font-size: 14px;
    text-align: right;
    i {
      padding-right: 5px;
    }
  }
  .best-ans-content {
    margin-top: 30px;
    .question-icon {
      margin-top: 10px;
      margin-right: 20px;
    }
    p {
      font-size: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

/** === All answer === **/
.all-answers {
  ul {
    list-style: none;
    padding-left: 0;
    ul {
      padding-left: 45px;
    }
  }
  .title {
    margin-bottom: 0;
  }
  .filter-bar {
    background: #f7f8f9;
    border: 1px solid #eaeeef;
    padding: 10px 30px;
    justify-content: space-between;
    border-radius: 4px;
    .custom-select {
      box-shadow: none;
      &:focus {
        outline: none;
        box-shadow: 0 0 0 0.2rem transparent;
        border: none;
      }
      &::after {
        border-bottom: 1px solid #6b707f;
        border-right: 1px solid #6b707f;
        height: 6px;
        width: 6px;
        right: 5px;
      }
    }
    p {
      margin-top: 8px;
      margin-bottom: 0;
      font-size: 14px;
      color: #6b707f;

    }
    .nice-select {
      background: #f7f8f9;
      height: 100%;
      border: 0;
      padding: 0 25px 0 0;

      .list {
        width: 100px;
      }

      &::-ms-expand {
        display: none;
      }
    }
  }
  .forum-comment {
    margin-top: 30px;
    &.bbp-private-reply {
      padding: 25px;
      background: rgb(255 255 159 / 39%);
      border-radius: 10px;
      @media ( max-width: 736px ) {
        padding: 15px;
      }
      .comment-content {
        border: none;
        padding: 0;
      }
    }
    .comment-content {
      margin-left: 45px;
      border-bottom: 1px solid var(--border_on_white);
      padding-bottom: 28px;
      .alert {
        padding: 2px 10px;
        font-size: 14px;
      }
      ul, ol {
        line-height: 2;
      }
      p {
        &:last-child {
          margin-bottom: 0;
        }
      }
      .action-btns {
        margin-top: 20px;
        display: none;
        opacity: 0;
        transition: all 5s ease-in;
      }
    }
    &:hover .comment-content .action-btns {
      display: block;
      opacity: 1;
    }
  }
  .pagination-wrapper {
    background: transparent;
    box-shadow: none;
    padding: 0;
    flex-direction: row-reverse;
    &.paged {
      margin-top: 15px;
    }
    + .pagination-wrapper {
      margin-top: 25px;
    }
    .bbp-pagination {
      justify-content: flex-start;
    }
    .view-post-of {
      text-align: right;
    }
  }
}

.forum-post-top .forum-post-author .forum-author-meta {
  margin-top: 3px;
}

.topic_comments {
  + .pagination-wrapper {
    margin-top: 30px;
  }
  .forum-post-author {
    display: flex;
    .forum-author-meta {
      margin-left: 15px;
    }
  }
}

.all-answers, .bbp-reply-form {
  padding: 40px 30px;
}

.bbp-topic-revision-log {
  margin-top: 15px;
  margin-bottom: 15px;
}
.bbp-topic-revision-log, .bbp-topic-revision-log-item,
.bbp-reply-revision-log .bbp-reply-revision-log-item {
  font-size: 12px;
  color: var(--black_400);
  img {
    display: none;
  }
}

.bbp-topic-revision-log-item, .bbp-reply-revision-log-item {
  margin-bottom: 0;
}

/** === Topic Details === **/
.topic-info {
  text-align: left;
  position: relative;
  padding: 22px 10px 22px 26px;
  margin: 0 0 7%;
  background: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  p {
    position: relative;
    margin: 0 0 10px;
    padding-left: 90px;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    line-height: 1.5;
    a {
      padding-left: 5px;
    }
    strong.mini-title {
      position: absolute;
      top: 2px;
      left: 0;
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 400;
    }
    img {
      width: 15px;
      height: 15px;
      position: relative;
      display: inline-block;
      float: left;
      margin: 0 2px 0 0;
      padding: 0;
      top: 1px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
    }
  }
  .delete-ticket {
    color: #E85E3C;
    margin-top: 15px;
  }
}

.single-topic {
  .main-post {
    padding: 36px;
    word-break: break-all;
    .author-badge {
      margin-left: 8px;
    }
  }
}

.best-answer.type-reply {
  position: relative;
  .forum-post-top {
    justify-content: start;
    .meta {
      margin-left: 5px;
    }
  }
  .comment-content {
    border-bottom: 0;
    padding-bottom: 0;

    .bbp-admin-links {
      background: #f1f1f1;
    }
  }
}

.accepted-ans-mark{
  color: #3b9b3b;
  font-size: 13px;
}

.q-title {
  .solved-topic-bar {
    display: inline-block;
    margin-left: 10px;
    .accepted-ans-mark {
      color: #3b9b3b;
      border-radius: 4px;
      display: inline-block;
      font-size: 16px;
      font-weight: 400;
    }
    .icon_check_alt2:before {
      margin-right: 3px;
    }
  }
}

#best-answer {
  position: absolute;
  right: -4px;
  top: 0;
  &.solved-topic-bar .badge {
    padding: 6px 10px;
    height: 26px;
    background: #0abe76;
    border-bottom-color: #06794b;
    font-size: 11px;
    color: #fff;
  }
}


.bbp-attachments-form {
  .d4p-attachment-addfile {
    font-size: 14px;
  }
}
.bbp-voting {
  @media screen and ( min-width: 561px ) {
    padding-right: 0;
    position: absolute;
  }
}

// Login Modal for Subscription
.subscription-login-btn{
  cursor: pointer;
}
span.subscription-login-modal {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  margin: auto;
  display: none;
  z-index: 99999;
  background: #000000c4;
  &.active{
    display: block;
  }
  .subscription-login-modal-inner {
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    height: max-content;
    margin: auto;
    left: 0;
    right: 0;
    width: 570px;
    padding: 25px 30px 30px;
    border-radius: 5px;
    box-sizing: border-box;
    h1 {
      font-size: 22px;
      font-weight: 500;
      margin: 0 0 5px;
    }
    p {
      font-size: 15px;
      margin: 7px 0 20px;
      line-height: 15px;
    }
    a{
      &.btn{
        display: block;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: 500;
        background: var(--brand_color);
        color: #fff;
        text-decoration: none;
        border-radius: 30px;
        margin: 20px 0 0;
        border: none;
        outline: none;
        &:focus{
          outline: none;
          border: none;
        }
      }
    }
    span.subscription-login-modal-close {
        position: absolute;
        right: 16px;
        top: 25px;
        font-size: 27px;
        line-height: 0;
        cursor: pointer;
    }
    @media screen and ( max-width: 767px ) {
      width: 400px;
    }
    @media screen and ( max-width: 480px ) {
      width: 300px;
      padding: 25px 15px 30px;
    }
  }
}