/*========== shortcode_text css ==============*/
.shortcode_text {
  .shortcode_title {
    p {
      margin-bottom: 20px;
    }
  }
  ul {
    li {
      margin-bottom: 6px;
      a {
        color: #6b707f;
        &:hover {
          color: var(--brand_color);
        }
      }
    }
  }
  .c_head {
    margin-top: 30px;
  }
}

.info-tab .icon-wrapper i {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  display: block;
  left: 0;
  right: 0;
  text-align: center;
  height: 20px;
  color: white;
}
.note-icon::before {
  width: 20px;
  height: 20px;
  box-shadow: inset 12px 0 13px rgba(0,0,0,0.5);
}

.info-tab .icon-wrapper::after {
  width: 20px;
  height: 20px;
  border: 12px solid transparent;
  border-bottom-color: #fff;
  border-left-color: #fff;
  bottom: -18px;
  box-shadow: inset 12px 0 13px rgba(0,0,0,0.5);
}

.info-tab .icon-wrapper::before, .info-tab .icon-wrapper::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  transform: rotateX(60deg);
}
@media (max-width: 576px){
  .nic-alert .nic-content-wrap .note-box {
    padding: 20px;
  }
}

/*=========== lightbox Shortcode css ========*/
.lightbox_shortcode {
  display: inline-block;
  position: relative;
  z-index: 1;
  img {
    background-color: rgb(240, 242, 245);
    box-shadow: 0 4px 14px 0 rgba(4, 73, 89, 0.08);
    max-width: 100%;
  }
}
.img_popup {
  position: absolute;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 52px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(29, 39, 70, 0.5);
  border-radius: 50%;
  color: #fff;
  font-size: 26px;
  i {
    margin-left: -2px;
  }
  &:hover,
  &:focus {
    background: #fff;
    color: var(--secondary_color);
    box-shadow: 4px 15px 34px 2px rgba(4, 73, 89, 0.2);
  }
}

button.mfp-close {
  font-size: 30px;
  color: #6b707f;
  right: 10px;
  top: 5px;
}
.mfp-bg {
  background: #fff;
}
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
  padding: 0;
}
.mfp-with-zoom .mfp-container {
  transform: scale(0);
}
.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
  transform: scale(1);
}
.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 1;
}
.mfp-figure:after {
  background-color: rgb(236, 239, 244);
  box-shadow: 0 20px 80px 0 rgba(4, 73, 89, 0.12);
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}
/*=========== lightbox Shortcode css ========*/

/*=========== tooltip Shortcode css ========*/
.tooltipster-sidetip {
  .tooltipster-box {
    max-width: 300px;
    background: #fff;
    box-shadow: 0 30px 90px -20px rgba(0, 0, 0, 0.3),
      0 0 1px 1px rgba(0, 0, 0, 0.05);
    border: 0;
    margin-top: 0;
    border-radius: 10px;
    .tooltipster-content {
      padding: 15px 20px;
      background: var(--bs-white);
      border-radius: 10px;
      z-index: 1;
      .blog_grid_post {
        margin-bottom: 0;
        img {
          max-width: 100%;
        }
        .grid_post_content {
          padding: 30px 20px 10px;
          box-shadow: none;
          font-size: 12px;
          line-height: 1.4;
          .post_tag {
            a {
              font-size: 14px;
            }
          }
          .b_title {
            font-size: 18px;
            line-height: 25px;
          }
          p {
            color: var(--p_color);
            font-size: 14px;
            line-height: 22px;
          }
        }
      }
    }
  }
}

.tooltip_content {
  p {
    margin-bottom: 25px;
    i {
      vertical-align: middle;
    }
    a {
      color: var(--brand_color);
    }
  }
  .text-decoration {
    position: relative;
    display: inline-block;
    &:before {
      content: "";
      width: 100%;
      height: 1px;
      background: var(--brand_color);
      position: absolute;
      bottom: 5px;
      left: 0;
    }
  }
}

.direction_steps {
  display: inline-flex;
  align-items: center;
}

@media(max-width: 767px){
  .direction_steps {
    flex-wrap: wrap;
    gap: 8px;
  }
}

.direction_step {
  padding: 0 8px;
  font-size: 13px;
  border-radius: 4px;
  background: rgba(127, 130, 248, 0.8);
  color: #fff;
  position: relative;
  line-height: 20px;
  & + .direction_step {
    margin-left: 26px;
    &:before {
      content: "\24";
      font-family: eleganticons;
      position: absolute;
      left: -20px;
      color: rgba(127, 130, 248, 0.8);
    }
  }
}

.tip_content {
  background: #fff;
  box-shadow: 0 20px 50px 0 rgba(4, 73, 89, 0.16);
  max-width: 320px;
  max-height: 100%;
  border-radius: 6px;
  text-align: left;
  .text {
    padding: 25px;
  }
  p {
    font-size: 14px;
    line-height: 26px;
    color: #6b707f;
    margin-bottom: 0;
  }
  .title {
    font-size: 14px;
    color: var(--secondary_color);
    font-weight: 500;
    padding-top: 0;
    margin-bottom: 8px;
    span {
      display: block;
      font-weight: 400;
      color: #6b707f;
      font-size: 14px;
      padding-top: 5px;
    }
  }
  img {
    max-width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
  &#tooltipTwo {
    min-height: 450px;
  }
}

/*=========== tooltip Shortcode css ========*/

/*=========== image_pointer Shortcode css ========*/
.image_pointer {
  .pointing_img {
    padding-bottom: 20px;
    img {
      max-width: 100%;
      box-shadow: 0 20px 50px 0 rgba(4, 73, 89, 0.1);
    }
    h6 {
      margin-top: 35px;
      a {
        color: var(--brand_color);
      }
    }
  }
}
.modal-open {
  padding-right: 0 !important;
}
.modal-backdrop {
  background: #fff;
}

.img_modal {
  background: #fff;
  padding-right: 0 !important;
  box-shadow: 0 4px 14px 0 rgba(4, 73, 89, 0.08);
  img {
    box-shadow: 0 30px 80px 0 rgba(4, 73, 89, 0.12);
  }
  .close {
    font-size: 30px;
    line-height: 28px;
    opacity: 1;
    color: #6b707f;
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 0;
    z-index: 3;
  }
  &.fade {
    .pointing_img_container {
      max-width: 1170px;
      margin: 0rem auto;
      padding: 80px 0;
      height: 100%;
      display: flex;
      align-items: center;
      transform: translate(0, 0);
      .modal-content {
        border: 0;
        padding: 0;
        img {
          max-width: 100%;
        }
      }
    }
  }
}
.img_pointing {
  width: 10px;
  height: 10px;
  background: #a54ffe;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  &:before,
  &:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    background: #a54ffe;
  }
  &:before {
    transform: scale(2.1);
    opacity: 0.3;
  }
  &:after {
    transform: scale(3);
    opacity: 0.2;
  }
  .dot {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: rgba(165, 79, 254, 0.9);
    animation: pulse1 3s infinite;
    transform: translate(-50%, -50%);
    animation-delay: 1.5s;
    will-change: transform;
  }
}
.img_pointing_content {
  padding: 25px;
  p {
    font-size: 14px;
    line-height: 22px;
    font-family: $rob;
    color: #6b707f;
    margin-bottom: 0;
    span {
      color: var(--secondary_color);
    }
    & + p {
      margin-top: 15px;
    }
  }
}

.pointing_img_two {
  position: relative;
  margin-bottom: 60px;
  img {
    box-shadow: 0 20px 50px 0 rgba(4, 73, 89, 0.1);
  }
  .img_pointing {
  }
}
/*=========== image_pointer Shortcode css ========*/

/*=========== caniuse Shortcode css ========*/
.caniuse {
  ul {
    display: flex;
    flex-wrap: wrap;
    margin: -6px;
    .caniuse_agents_item {
      text-align: center;
      border-radius: 5px;
      padding: 23px 30px 20px;
      margin: 6px;
      img {
        height: 40px;
        display: block;
      }
      span {
        display: block;
        font-size: 20px;
        padding-top: 13px;
      }
    }
  }
}
.caniuse_section {
  & + .caniuse_section {
    margin-top: 55px;
  }
}
.light_blue {
  background: #ece6fc;
  color: #784bfb;
}
.light_red {
  background: #fce6e6;
  color: #f84343;
}
.blue {
  background: #e6f8fc;
  color: var(--brand_color);
}

.caniuse_section_legend {
  p {
    padding-top: 25px;
  }
  .caniuse_legend_list {
    padding: 15px 0 10px;
    span {
      margin-right: 20px;
    }
    a {
      font-size: 14px;
      font-weight: 500;
      padding: 0 18px;
      display: inline-block;
      margin: 0 3px;
      border-radius: 2px;
      &.blue {
        &:hover {
          background: var(--brand_color);
          color: #fff;
        }
      }
    }
  }
}
.purpale_btn {
  background: #fad9ea;
  color: #e32a8b;
  &:hover {
    background: #e32a8b;
    color: #fff;
  }
}
.green_btn {
  background: #cef5d4;
  color: #11ca30;
  &:hover {
    background: #11ca30;
    color: #fff;
  }
}
.violate_btn {
  background: #e8d9fa;
  color: #9744fd;
  &:hover {
    background: #9744fd;
    color: #fff;
  }
}
/*=========== caniuse Shortcode css ========*/

/*=========== table Shortcode css ========*/
.table_shortcode {
  thead {
    background: var(--brand_color);
    th {
      padding: 20px 25px;
      border: 0;
    }
    tr {
      th, .th {
        background: var(--brand_color);
      }
    }
  }
  th, td {
    border: 0;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    vertical-align: middle;
  }
  th {
    font-weight: 500;
  }
  tbody {
    tr {
      background: var(--black_50);
      border: none;
      th {
        background: var(--brand_color);
      }
      td,
      th {
        padding: 12px 25px;
      }
      td {
        color: var(--black_700);
      }
      &:nth-child(odd) {
        background: var(--black_25);
      }
    }
  }
}

table {
  &.is-style-stripes {
    tbody > tr:nth-child(2n) td{
      background:#f2f2f2;
      color:#6d7882
    }
  }
}


/*============ Footnote ===========*/
.text-component--has-footnotes {
  counter-reset: footnotes;
}

.footnotes {
  border-top: 1px solid var(--color-contrast-low);
  font-size: 0.875em;
  #footnotes {
    font-weight: 700;
  }
  .footnotes_item {
    font-size: 14px;
    position: relative;
    padding-left: 10px;
    p {
      font-size: 12px;
      line-height: 1.5;
      margin-bottom: 20px;
    }
    .back-article {
      position: absolute;
      left: 1px;
      top: 2px;
      font-size: 16px;
    }
    strong {
      color: var(--secondary_color);
      padding-bottom: 2px;
      display: inline-block;
      font-weight: 500;
    }
    & + .footnotes_item {
      margin-top: 20px;
    }
  }
}

.footnotes-link {
  counter-increment: footnotes;
  font-size: 0.75em;
  vertical-align: super;
  &::before {
    content: "[" counter(footnotes) "]";
  }
  &:target,&:target {
    outline: 2px solid var(--brand_color);
    outline-offset: 2px;
    margin: 0 5px;
  }
}

/*============ Footnote ===========*/

/*============ List Style ===========*/
.single_list {
  list-style: none;
  box-shadow: 0 3px 6px 0 rgba(4, 73, 89, 0.02);
  border: 1px solid #e5ebef;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 25px;
  border-radius: 2px;
  li {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    position: relative;
    padding-left: 20px;
    &:before {
      content: "";
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: var(--brand_color);
      position: absolute;
      left: 0;
      top: 9px;
    }
    & + li {
      margin-top: 15px;
    }
  }
}

/** === List Style === **/
.steps-panel {
  box-shadow: 0 3px 6px 0 rgba(4, 73, 89, 0.02);
  border: 1px solid var(--black_50);
  margin-top: 10px;
  margin-bottom: 25px;
  border-radius: 10px;
  padding-right: 10px;
}

ul.ordered-list {
  li::before {
    content: "\68";
    font-family: "ElegantIcons";
    font-size: 10px;
  }
}

.ordered-list {
  position: relative;
  list-style: none !important;
  padding-left: 20px;
  margin: 30px 0;
  &::before {
    content: "";
    position: absolute;
    left: 32px;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: #c4cdd5;
  }
  &::after{
    content: "";
    position: absolute;
    left: 32px;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: #c4cdd5;
  }
  li {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin: 16px 0;
    position: relative;
    padding-left: 35px;
    counter-increment: a;
    z-index: 1;
    &::before {
      content: counter(a);
      position: absolute;
      color: #fff;
      height: 32px;
      width: 32px;
      border-radius: 50%;
      font-weight: 500;
      font-size: 12px;
      background-color: var(--brand_color);
      text-align: center;
      line-height: 23px;
      top: -4px;
      left: -4px;
      border: 5px solid var(--bs-white);
    }
    &:last-child{
      padding-bottom: 0;
    }
  }
}

/*============ changelog css ===========*/
.changelog_inner {
  margin-left: -40px;
}
.changelog_info {
  padding-top: 75px;
  margin-top: -60px;
  .version_info {
    margin-right: 15px;
    position: relative;
    height: 100%;
  }
  .c_version {
    flex: 1;
    background: var(--secondary_color);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    height: 26px;
    line-height: 27px;
    border-radius: 3px;
    color: #fff;
    min-width: 50px;
    max-width: 60px;
    display: block;
    margin: 0 auto;
    z-index: 1;
    position: relative;
  }
  .changelog_date {
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
    .c_date {
      h6 {
        font-size: 20px;
        font-weight: 700;
        margin: 0;
        padding: 0;
      }
      p {
        font-size: 14px;
        margin-bottom: 0;
        color: #6b707f;
      }
    }
  }
  .line {
    height: 106%;
    width: 2px;
    background: #e2e5ee;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: 0;
  }
  &:last-child {
    .line {
      height: 100%;
    }
    .changelog_content {
      padding-bottom: 0;
    }
  }
}
.changelog_content {
  padding-bottom: 60px;
  p {
    display: flex;
    margin-bottom: 8px;
    font-size: 14px;
  }
  span {
    font-weight: 400;
    font-size: 10px;
    color: #fff;
    padding: 0 10px;
    text-transform: uppercase;
    min-width: 110px;
    display: inline-block !important;
    text-align: center;
    line-height: 23px;
    border-radius: 3px;
    margin-right: 20px;
    height: 22px;
    flex: 0;
    letter-spacing: 0.8px;
    background: #0ed193;
    &.improve {
      background: var(--brand_color);
    }
    &.update {
      background: #ffa100;
    }
    &.fixed {
      background: #ea3940;
    }
  }
  .download-links {
    border-top: 1px dotted var(--black_50);
    margin-top: 15px;
  }
  .changelog_btn {
    font-size: 14px;
    color: #6b707f;
    font-weight: 500;
    margin-top: 12px;
    display: inline-block;
    opacity: 0.5;
    text-decoration: none !important;
    i {
      margin-right: 5px;
    }
    &:hover {
      color: var(--brand_color);
    }
    & + .changelog_btn {
      margin-left: 28px;
    }
  }
  &:hover .changelog_btn {
    opacity: 1;
  }
}

.just_text {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  p {
    margin-bottom: 0;
  }
  & + .just_text {
    margin-top: 70px;
  }
}
.answer_bottom {
  align-items: flex-start;
}
.tour_preview_img {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*========== cheatsheet_info css =========*/
.cheatsheet_info {
  & + .cheatsheet_info {
    margin-top: 30px;
  }
}
.cheatsheet_accordian {
  .card {
    border: 0;
    padding: 0;
    overflow: visible;
    margin-top: 10px;
    background: transparent;
    .card-header {
      padding: 0;
      border: 0;
      background: transparent;
      button {
        padding: 0;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 30px;
        background: transparent;
        color: var(--secondary_color);
        text-decoration: none;
        .minus {
          display: inline-block;
        }
        .pluse {
          display: none;
        }
        &.collapsed {
          .pluse {
            display: inline-block;
          }
          .minus {
            display: none;
          }
        }
      }
    }
  }
}
.cheatsheet_item {
  text-align: left;
  padding: 20px 20px 30px;
  margin-bottom: 30px;
  transition: all 0.3s linear;
  background: var(--bs-white);
  border-radius: 8px;
  &:hover {
    box-shadow: 0 20px 27px 0 rgba(4, 73, 89, 0.08);
  }
  .cheatsheet_num {
    text-align: right;
  }
  p {
    margin-bottom: 0;
  }
  h5 {
    margin-bottom: 0;
    color: var(--brand_color);
  }
}


.about-journalism {
  background: rgb(250, 252, 253);
  overflow: hidden;
  position: relative;
}

.light-header {
  position: absolute;
  bottom: -23px;
  left: 0;
  width: 100%;
  text-align: center;

  @media(max-width: 768px) {
    bottom: -10px;
  }

  .title-light {
    color: #eff4f7;
    font-size: 60px;
    font-weight: 700;
    line-height: 1;
    margin: 0;

    @media(max-width: 768px) {
      font-size: 30px;
      bottom: -10px;
    }
  }
}


.journalism-content-wrapper {
  max-width: 550px;
  padding: 113px 0 65px;

  @media(max-width: 1480px) {
    padding: 83px 0 35px;
  }

  .quote {
    margin-left: -20px;
  }

  .journalism-title {
    font-size: 30px;
    line-height: 40px;
    color: var(--secondary_color);
    font-weight: 700;
    margin-bottom: 20px;
  }

  p {
    font-size: 20px;
    color: #6b707f;
    line-height: 34px;
    margin-bottom: 40px;
  }

  .journalism-info {
    .name {
      color: var(--secondary_color);
      font-size: 16px;
      margin: 0;
    }

    .designation {
      font-size: 14px;
      color: #6b707f;
    }
  }
}

.support_area {
  background: #002454;
  overflow: hidden;
  z-index: 2;
  .container {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .shap {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }
  .left {
    position: relative;
    align-self: center;
    z-index: 3;
    h3 {
      color: #fff;
      font-size: 40px;
      margin-bottom: 5px;
    }
    p {
      color: #fff;
    }
    .icon_btn2 {
      margin-top: 25px;
    }
  }
  .right {
    position: relative;
    img {
      z-index: 4;
      position: relative;
    }
  }
}

.journalism-feature-image {
  position: relative;
  margin-top: 20px;

  @media(max-width: 992px) {
    margin-left: 20px;
  }


  &:before {
    content: '';
    position: absolute;
    height: 600px;
    width: 600px;
    background-image: linear-gradient(45deg, rgb(236, 249, 252) 0%, rgb(254, 239, 236) 100%);
    border-radius: 50%;
    z-index: 1;
    left: 20px;
    top: 85px;

    @media(max-width: 992px) {
      left: -20px;
      top: 15px;
    }
  }

  img {
    margin-left: -27px;
    position: relative;
    z-index: 2;

  }

  @media(max-width: 1480px) {
    margin-top: 80px;

    img {
      width: 500px;
    }

    &:before {
      height: 500px;
      width: 500px;
    }
  }

  @media(max-width: 992px) {
    img {
      max-width: 500px;
    }
  }

  @media(max-width: 576px) {
    img {
      max-width: 300px;
    }
  }

  @media(max-width: 576px) {
    &:before {
      width: 300px;
      height: 300px;
    }
  }
}

@media(max-width: 992px) {
  .md-order-two {
    order: 2;
  }
}