.count {
  background: rgba(175, 184, 193, 0.2);
  height: 22px;
  color: #838793;
  font-size: 12px;
  display: flex;
  line-height: 1.2;
  padding: 5px 7px 5px 8px;
  transition: all 0.3s;
  min-width: 20px;
  border-radius: 2em;
  font-weight: 500;
}