.action_btn {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  box-shadow: 0 20px 30px 0 brand_color_rgba(0.24);
  border-radius: 4px;
  background: var(--brand_color);
  display: inline-block;
  padding: 14px 28px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.18s ease-in-out;
  text-decoration: none !important;
  i {
    vertical-align: middle;
    font-size: 18px;
    padding-left: 5px;
  }
  &:hover {
    box-shadow: none;
    color: #fff;
  }
}

.error_area .action_btn {
  font-size: 16px;
  i {
    padding-right: 5px;
  }
}

.doc_border_btn {
  border: 1px solid rgba(76, 76, 241, 0.2);
  border-radius: 4px;
  color: var(--brand_color);
  font-size: 14px;
  font-weight: 500;
  background: brand_color_rgba(0.05);
  display: inline-block;
  padding: 6px 34px;
  transition: all 0.3s linear, color 0.2s;

  &.btn-round {
    border-radius: 30px;

    @media (max-width: 420px) {
      font-size: 12px;
    }
  }
  i {
    margin-left: 6px;
    font-size: 16px;
    vertical-align: middle;
    display: inline-block;
    transition: all 0.2s linear, color 0s linear;
  }
  &:hover {
    box-shadow: 0 10px 20px 0 brand_color_rgba(0.2);
    background: var(--brand_color);
    border-color: var(--brand_color);
    color: #fff;
    i {
      transform: translateX(8px);
    }
  }
}

/* Home Advanced Search Area css
============================================================================================ */
.main_btn {
  background: var(--brand_color);
  color: #fff;
  border-radius: 4px;
  line-height: 46px;
  padding: 0 30px;
  font-size: 16px;
  @include transition;
  display: inline-block;
  &:hover {
    background: #fff;
  }
  &.blue {
    background: brand_color_rgba(.2);
    color: var(--brand_color);
    line-height: 50px;
    padding: 0 46px;
    &:hover {
      background: var(--brand_color);
      color: #fff;
    }
  }
}
.submit_btn {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  background: var(--brand_color);
  padding: 10px 29px;
  border-radius: 4px;
  border: 0;
  box-shadow: 0 10px 20px 0 rgba(2, 2, 59, 0.2);
  @include transition;
  &:hover {
    background: #fff;
    color: var(--brand_color);
    font-size: 16px;
    font-weight: 400;
  }
}
.text_btn {
  color: var(--brand_color);
  font-weight: 500;
  font-size: 16px;
  @include transition;
  i {
    position: relative;
    top: 4px;
    font-size: 18px;
    @include transition;
  }
  &:hover {
    color: var(--brand_color);
    i {
      margin-left: 7px;
    }
  }
  &.dark_btn {
    color: var(--secondary_color);
    font-weight: 400;
    i {
      margin-left: 6px;
      font-size: 18px;
    }
    &:hover {
      color: var(--brand_color);
      i {
        margin-left: 12px;
      }
    }
  }
}
.icon_btn2 {
  background: var(--brand_color);
  color: #fff;
  border-radius: 5px;
  line-height: 60px;
  font-size: 18px;
  font-weight: 500;
  display: inline-block;
  padding: 0 44px;
  @include transition;
  i {
    font-size: 18px;
    position: relative;
    top: 3px;
    margin-left: 10px;
    @include transition;
  }
  &:hover {
    background: #fff;
    color: var(--brand_color);
    i {
      margin-left: 5px;
    }
  }
  &.blue {
    &:hover {
      color: var(--brand_color);
    }
  }
}
.reply_btn {
  background: var(--brand_color);
  display: inline-block;
  padding: 0 12px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  border-radius: 3px;
  border: 1px solid var(--brand_color);
  @include transition;
  &:hover {
    background: transparent;
    color: var(--brand_color);
  }
}
.help_btn {
  background: transparent;
  display: inline-block;
  padding: 0 16px;
  color: var(--secondary_color);
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  border-radius: 3px;
  border: 1px solid #d0d8dc;
  @include transition;
  &:hover {
    background: transparent;
    color: var(--brand_color);
  }
}

.all_doc_btn {
  padding: 10px 40px;
  margin-top: 30px;
  &:hover {
    box-shadow: 0 20px 30px 0 brand_color_rgba(.24)
  }
}

.wc-block-components-checkout-place-order-button,
.fill-brand {
  font: 500 14px "Roboto", sans-serif;
  color: #fff;
  margin: 0;
  background: brand_color_rgba(.8);
  padding: 15px 30px;
  border-radius: 4px;
  transition: all .3s linear;
  cursor: pointer;
  text-decoration: none !important;
  border: none;
  width: fit-content;
  &:hover {
    background: var(--brand_color);
    color: #fff;
  }
  @media ( max-width: 767px ) {
    padding: 15px 20px;
  }
}
